
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <h1>Welcome to Soumya BookStore</h1>
    <input type="button" value="Click Me" class="btn btn-danger" />
    <img src="~/Images/Soumya Ranjan.PNG" alt="Name" />
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert('Page Loaded');
});
    </script>
